<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <%- include('partials/header') %>  <!-- Inclusion du header ici -->

    <main>
        <h1>Bienvenue sur mon site personnel</h1>
        <p>Je suis [Ton Nom], ...</p>
        <img src="/images/ton_image.jpg" alt="Photo de moi" class="profile-pic">
    </main>

    <%- include('partials/footer') %>  <!-- Inclusion du footer ici -->
</body>
</html>
